.carousel {
  position: relative;
  display: flex;
  width: 100%;
  height: 415px;

  border-radius: 25px;
  background-position: center;
  background-size: cover;
  width: 95%;
  margin: 43px auto;
}

.carousel_arrow {
  position: absolute;
  top: 50%;
  height: 15%;
  transform: translateY(-50%);
  cursor: pointer;
}
.carousel_arrow:active {
  transform: translateY(-50%) scale(0.9);
}
.carousel_arrow_right {
  right: 25px;
}
.carousel_arrow_left {
  left: 25px;
}

.slideCount {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: red;
  font-weight: 500;
  font-size: clamp(14px, 2vw, 18px);
}
